body {
	background-color: azure; 
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.column {
    max-width: 480px;
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
